# **Part 1: Basic Python Syntax (2 pts.)**

In [1]:
# 1. Create a variable, var, and set the value to the string “Hello, world!”.
var = "Hello, world!"

In [2]:
#2. Now print the length of var.
print("Length of var:",len(var))

Length of var: 13

In [3]:
# 3. Extract “world” from var using string index slicing.
print(var[7:7+len("world")])

world

In [4]:
# 4. Print the types for 1, 1.0, and “1” and note how they differ.
print(type(1))
print(type(1.0))
print(type("1"))


# How do they differ?
# 1 is of integer type
# 1.0 is of float type
# "1" is of string type

<class 'int'>
<class 'float'>
<class 'str'>

In [5]:
#5 Calculate and print the area of a circle of radius 5 to two decimal places.
import math
radius = 5
def calculate_area(radius):
  return round(math.pi*radius*radius,2)
area = calculate_area(5)
print(area)

78.54

In [6]:
#6. Write a for loop that prints the numbers 9 to 0.
for number in range(9,-1,-1):
  print(number)

9
8
7
6
5
4
3
2
1
0

In [7]:
#7. Write a for loop that prints all odd numbers from 9 to 21 including both numbers.
for number in range(9,21+1):
  if number%2 ==1:
    print(number)

9
11
13
15
17
19
21

In [8]:
#8. Write an if/else statement that takes a variable var and prints
#       “Greater than 8” if var is greater than 8,

#           “Less than 9” if var is less than 9,

#           “Equal to 10” if var is equal to 10.

# Make sure to appropriately test for each case.

def calculate(var):
  if var >8 and var!=10:
    return "Greater than 8"
  if var<9:
    return "Less than 9"
  elif var==10:
    return 'Equal to 10'
print(calculate(8.5))
print(calculate(5))
print(calculate(10))

Greater than 8
Less than 9
Equal to 10

In [9]:
#1. Write a function which takes a string as its parameter and returns the length of the string.
def calculate_length(txt):
  return len(txt)
print(calculate_length("Prashanth"))

9

In [10]:
#2. Write a function which takes a positive integer n as its parameter, and prints out all odd numbers from 1 to n-1.
def calculate_odd(n):
  for number in range(1,n):
    if number%2 ==1:
      print(number)
calculate_odd(11)

1
3
5
7
9

# **Part 2: File Handling**

In [11]:
!pip install wget
!pip install biopython

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9655 sha256=ae7346ec0f98db9312f75b716646481bd094d8eabf0395b5e6094d38484e2d80
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2
Collecting biopython
  Downloading biopython-1.83-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 16.9 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from biopython) (1.23.5)
Installing collected packages: biopython
Successfully installed biopython-1.83

In [12]:
import wget
import gzip
import shutil
import re

In [13]:
file = wget.download("https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_43/gencode.v43.pc_transcripts.fa.gz")

In [14]:
unzpped_file = "gencode.v43.pc_transcripts.fa"
with gzip.open(file, 'rb') as f_in:
    with open(unzpped_file, 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [15]:
from Bio import SeqIO

first_sequence = None
for seq_record in SeqIO.parse(unzpped_file, "fasta"):
    first_sequence = seq_record.seq
    break

In [16]:
patterns = ['CG', 'GC', 'AT']
for pattern in patterns:
    print(f"Occurrences of {pattern}:")
    for match in re.finditer(pattern, str(first_sequence)):
        start = match.start()
        end = match.end()
        print(f"Occurrences of {pattern} at index from {start} to {end}")
    print("\n")

Occurrences of CG:
Occurrences of CG at index from 103 to 105
Occurrences of CG at index from 112 to 114
Occurrences of CG at index from 215 to 217
Occurrences of CG at index from 366 to 368
Occurrences of CG at index from 518 to 520
Occurrences of CG at index from 527 to 529
Occurrences of CG at index from 568 to 570
Occurrences of CG at index from 583 to 585
Occurrences of CG at index from 590 to 592
Occurrences of CG at index from 623 to 625
Occurrences of CG at index from 783 to 785
Occurrences of CG at index from 799 to 801
Occurrences of CG at index from 988 to 990
Occurrences of CG at index from 1509 to 1511
Occurrences of CG at index from 1635 to 1637
Occurrences of CG at index from 1697 to 1699
Occurrences of CG at index from 1837 to 1839
Occurrences of CG at index from 1949 to 1951


Occurrences of GC:
Occurrences of GC at index from 22 to 24
Occurrences of GC at index from 41 to 43
Occurrences of GC at index from 75 to 77
Occurrences of GC at index from 81 to 83
Occurrences of GC at index from 287 to 289
Occurrences of GC at index from 291 to 293
Occurrences of GC at index from 333 to 335
Occurrences of GC at index from 361 to 363
Occurrences of GC at index from 365 to 367
Occurrences of GC at index from 367 to 369
Occurrences of GC at index from 388 to 390
Occurrences of GC at index from 391 to 393
Occurrences of GC at index from 450 to 452
Occurrences of GC at index from 457 to 459
Occurrences of GC at index from 474 to 476
Occurrences of GC at index from 481 to 483
Occurrences of GC at index from 485 to 487
Occurrences of GC at index from 514 to 516
Occurrences of GC at index from 519 to 521
Occurrences of GC at index from 529 to 531
Occurrences of GC at index from 537 to 539
Occurrences of GC at index from 556 to 558
Occurrences of GC at index from 574 to 576
Occurrences of GC at index from 582 to 584
Occurrences of GC at index from 588 to 590
Occurrences of GC at index from 593 to 595
Occurrences of GC at index from 663 to 665
Occurrences of GC at index from 683 to 685
Occurrences of GC at index from 702 to 704
Occurrences of GC at index from 716 to 718
Occurrences of GC at index from 779 to 781
Occurrences of GC at index from 784 to 786
Occurrences of GC at index from 807 to 809
Occurrences of GC at index from 825 to 827
Occurrences of GC at index from 876 to 878
Occurrences of GC at index from 881 to 883
Occurrences of GC at index from 915 to 917
Occurrences of GC at index from 990 to 992
Occurrences of GC at index from 1001 to 1003
Occurrences of GC at index from 1017 to 1019
Occurrences of GC at index from 1114 to 1116
Occurrences of GC at index from 1129 to 1131
Occurrences of GC at index from 1181 to 1183
Occurrences of GC at index from 1244 to 1246
Occurrences of GC at index from 1263 to 1265
Occurrences of GC at index from 1286 to 1288
Occurrences of GC at index from 1367 to 1369
Occurrences of GC at index from 1372 to 1374
Occurrences of GC at index from 1459 to 1461
Occurrences of GC at index from 1510 to 1512
Occurrences of GC at index from 1571 to 1573
Occurrences of GC at index from 1603 to 1605
Occurrences of GC at index from 1618 to 1620
Occurrences of GC at index from 1651 to 1653
Occurrences of GC at index from 1659 to 1661
Occurrences of GC at index from 1687 to 1689
Occurrences of GC at index from 1702 to 1704
Occurrences of GC at index from 1759 to 1761
Occurrences of GC at index from 1765 to 1767
Occurrences of GC at index from 1787 to 1789
Occurrences of GC at index from 1829 to 1831
Occurrences of GC at index from 1841 to 1843
Occurrences of GC at index from 1851 to 1853
Occurrences of GC at index from 1894 to 1896
Occurrences of GC at index from 1941 to 1943
Occurrences of GC at index from 1962 to 1964
Occurrences of GC at index from 2008 to 2010
Occurrences of GC at index from 2078 to 2080
Occurrences of GC at index from 2126 to 2128
Occurrences of GC at index from 2169 to 2171
Occurrences of GC at index from 2271 to 2273
Occurrences of GC at index from 2419 to 2421
Occurrences of GC at index from 2477 to 2479
Occurrences of GC at index from 2490 to 2492
Occurrences of GC at index from 2522 to 2524
Occurrences of GC at index from 2554 to 2556
Occurrences of GC at index from 2566 to 2568


Occurrences of AT:
Occurrences of AT at index from 5 to 7
Occurrences of AT at index from 20 to 22
Occurrences of AT at index from 27 to 29
Occurrences of AT at index from 38 to 40
Occurrences of AT at index from 60 to 62
Occurrences of AT at index from 84 to 86
Occurrences of AT at index from 94 to 96
Occurrences of AT at index from 98 to 100
Occurrences of AT at index from 115 to 117
Occurrences of AT at index from 123 to 125
Occurrences of AT at index from 134 to 136
Occurrences of AT at index from 138 to 140
Occurrences of AT at index from 157 to 159
Occurrences of AT at index from 182 to 184
Occurrences of AT at index from 186 to 188
Occurrences of AT at index from 200 to 202
Occurrences of AT at index from 205 to 207
Occurrences of AT at index from 213 to 215
Occurrences of AT at index from 234 to 236
Occurrences of AT at index from 240 to 242
Occurrences of AT at index from 251 to 253
Occurrences of AT at index from 276 to 278
Occurrences of AT at index from 306 to 308
Occurrences of AT at index from 310 to 312
Occurrences of AT at index from 342 to 344
Occurrences of AT at index from 345 to 347
Occurrences of AT at index from 375 to 377
Occurrences of AT at index from 402 to 404
Occurrences of AT at index from 404 to 406
Occurrences of AT at index from 435 to 437
Occurrences of AT at index from 441 to 443
Occurrences of AT at index from 447 to 449
Occurrences of AT at index from 453 to 455
Occurrences of AT at index from 467 to 469
Occurrences of AT at index from 469 to 471
Occurrences of AT at index from 471 to 473
Occurrences of AT at index from 477 to 479
Occurrences of AT at index from 479 to 481
Occurrences of AT at index from 504 to 506
Occurrences of AT at index from 507 to 509
Occurrences of AT at index from 521 to 523
Occurrences of AT at index from 531 to 533
Occurrences of AT at index from 534 to 536
Occurrences of AT at index from 545 to 547
Occurrences of AT at index from 552 to 554
Occurrences of AT at index from 565 to 567
Occurrences of AT at index from 616 to 618
Occurrences of AT at index from 625 to 627
Occurrences of AT at index from 634 to 636
Occurrences of AT at index from 654 to 656
Occurrences of AT at index from 673 to 675
Occurrences of AT at index from 688 to 690
Occurrences of AT at index from 690 to 692
Occurrences of AT at index from 693 to 695
Occurrences of AT at index from 699 to 701
Occurrences of AT at index from 744 to 746
Occurrences of AT at index from 747 to 749
Occurrences of AT at index from 752 to 754
Occurrences of AT at index from 759 to 761
Occurrences of AT at index from 762 to 764
Occurrences of AT at index from 768 to 770
Occurrences of AT at index from 774 to 776
Occurrences of AT at index from 781 to 783
Occurrences of AT at index from 793 to 795
Occurrences of AT at index from 831 to 833
Occurrences of AT at index from 860 to 862
Occurrences of AT at index from 870 to 872
Occurrences of AT at index from 874 to 876
Occurrences of AT at index from 884 to 886
Occurrences of AT at index from 891 to 893
Occurrences of AT at index from 899 to 901
Occurrences of AT at index from 904 to 906
Occurrences of AT at index from 908 to 910
Occurrences of AT at index from 920 to 922
Occurrences of AT at index from 925 to 927
Occurrences of AT at index from 933 to 935
Occurrences of AT at index from 954 to 956
Occurrences of AT at index from 957 to 959
Occurrences of AT at index from 959 to 961
Occurrences of AT at index from 981 to 983
Occurrences of AT at index from 993 to 995
Occurrences of AT at index from 1010 to 1012
Occurrences of AT at index from 1015 to 1017
Occurrences of AT at index from 1021 to 1023
Occurrences of AT at index from 1041 to 1043
Occurrences of AT at index from 1046 to 1048
Occurrences of AT at index from 1048 to 1050
Occurrences of AT at index from 1059 to 1061
Occurrences of AT at index from 1063 to 1065
Occurrences of AT at index from 1070 to 1072
Occurrences of AT at index from 1073 to 1075
Occurrences of AT at index from 1083 to 1085
Occurrences of AT at index from 1085 to 1087
Occurrences of AT at index from 1104 to 1106
Occurrences of AT at index from 1118 to 1120
Occurrences of AT at index from 1124 to 1126
Occurrences of AT at index from 1136 to 1138
Occurrences of AT at index from 1142 to 1144
Occurrences of AT at index from 1144 to 1146
Occurrences of AT at index from 1147 to 1149
Occurrences of AT at index from 1155 to 1157
Occurrences of AT at index from 1174 to 1176
Occurrences of AT at index from 1178 to 1180
Occurrences of AT at index from 1187 to 1189
Occurrences of AT at index from 1191 to 1193
Occurrences of AT at index from 1213 to 1215
Occurrences of AT at index from 1215 to 1217
Occurrences of AT at index from 1223 to 1225
Occurrences of AT at index from 1229 to 1231
Occurrences of AT at index from 1239 to 1241
Occurrences of AT at index from 1242 to 1244
Occurrences of AT at index from 1253 to 1255
Occurrences of AT at index from 1255 to 1257
Occurrences of AT at index from 1267 to 1269
Occurrences of AT at index from 1288 to 1290
Occurrences of AT at index from 1292 to 1294
Occurrences of AT at index from 1294 to 1296
Occurrences of AT at index from 1296 to 1298
Occurrences of AT at index from 1302 to 1304
Occurrences of AT at index from 1362 to 1364
Occurrences of AT at index from 1364 to 1366
Occurrences of AT at index from 1376 to 1378
Occurrences of AT at index from 1380 to 1382
Occurrences of AT at index from 1392 to 1394
Occurrences of AT at index from 1396 to 1398
Occurrences of AT at index from 1405 to 1407
Occurrences of AT at index from 1419 to 1421
Occurrences of AT at index from 1438 to 1440
Occurrences of AT at index from 1444 to 1446
Occurrences of AT at index from 1453 to 1455
Occurrences of AT at index from 1455 to 1457
Occurrences of AT at index from 1457 to 1459
Occurrences of AT at index from 1475 to 1477
Occurrences of AT at index from 1477 to 1479
Occurrences of AT at index from 1479 to 1481
Occurrences of AT at index from 1517 to 1519
Occurrences of AT at index from 1520 to 1522
Occurrences of AT at index from 1528 to 1530
Occurrences of AT at index from 1548 to 1550
Occurrences of AT at index from 1561 to 1563
Occurrences of AT at index from 1565 to 1567
Occurrences of AT at index from 1573 to 1575
Occurrences of AT at index from 1576 to 1578
Occurrences of AT at index from 1607 to 1609
Occurrences of AT at index from 1614 to 1616
Occurrences of AT at index from 1645 to 1647
Occurrences of AT at index from 1655 to 1657
Occurrences of AT at index from 1671 to 1673
Occurrences of AT at index from 1681 to 1683
Occurrences of AT at index from 1693 to 1695
Occurrences of AT at index from 1711 to 1713
Occurrences of AT at index from 1713 to 1715
Occurrences of AT at index from 1722 to 1724
Occurrences of AT at index from 1726 to 1728
Occurrences of AT at index from 1730 to 1732
Occurrences of AT at index from 1735 to 1737
Occurrences of AT at index from 1742 to 1744
Occurrences of AT at index from 1749 to 1751
Occurrences of AT at index from 1792 to 1794
Occurrences of AT at index from 1812 to 1814
Occurrences of AT at index from 1816 to 1818
Occurrences of AT at index from 1819 to 1821
Occurrences of AT at index from 1822 to 1824
Occurrences of AT at index from 1833 to 1835
Occurrences of AT at index from 1847 to 1849
Occurrences of AT at index from 1865 to 1867
Occurrences of AT at index from 1869 to 1871
Occurrences of AT at index from 1880 to 1882
Occurrences of AT at index from 1883 to 1885
Occurrences of AT at index from 1889 to 1891
Occurrences of AT at index from 1892 to 1894
Occurrences of AT at index from 1896 to 1898
Occurrences of AT at index from 1902 to 1904
Occurrences of AT at index from 1905 to 1907
Occurrences of AT at index from 1915 to 1917
Occurrences of AT at index from 1923 to 1925
Occurrences of AT at index from 1927 to 1929
Occurrences of AT at index from 1929 to 1931
Occurrences of AT at index from 1933 to 1935
Occurrences of AT at index from 1938 to 1940
Occurrences of AT at index from 1955 to 1957
Occurrences of AT at index from 1957 to 1959
Occurrences of AT at index from 1964 to 1966
Occurrences of AT at index from 1968 to 1970
Occurrences of AT at index from 1974 to 1976
Occurrences of AT at index from 1979 to 1981
Occurrences of AT at index from 1984 to 1986
Occurrences of AT at index from 1990 to 1992
Occurrences of AT at index from 1995 to 1997
Occurrences of AT at index from 1997 to 1999
Occurrences of AT at index from 1999 to 2001
Occurrences of AT at index from 2040 to 2042
Occurrences of AT at index from 2051 to 2053
Occurrences of AT at index from 2053 to 2055
Occurrences of AT at index from 2060 to 2062
Occurrences of AT at index from 2066 to 2068
Occurrences of AT at index from 2076 to 2078
Occurrences of AT at index from 2082 to 2084
Occurrences of AT at index from 2089 to 2091
Occurrences of AT at index from 2116 to 2118
Occurrences of AT at index from 2118 to 2120
Occurrences of AT at index from 2140 to 2142
Occurrences of AT at index from 2142 to 2144
Occurrences of AT at index from 2171 to 2173
Occurrences of AT at index from 2174 to 2176
Occurrences of AT at index from 2180 to 2182
Occurrences of AT at index from 2187 to 2189
Occurrences of AT at index from 2198 to 2200
Occurrences of AT at index from 2200 to 2202
Occurrences of AT at index from 2204 to 2206
Occurrences of AT at index from 2228 to 2230
Occurrences of AT at index from 2231 to 2233
Occurrences of AT at index from 2241 to 2243
Occurrences of AT at index from 2243 to 2245
Occurrences of AT at index from 2263 to 2265
Occurrences of AT at index from 2277 to 2279
Occurrences of AT at index from 2282 to 2284
Occurrences of AT at index from 2294 to 2296
Occurrences of AT at index from 2296 to 2298
Occurrences of AT at index from 2313 to 2315
Occurrences of AT at index from 2328 to 2330
Occurrences of AT at index from 2339 to 2341
Occurrences of AT at index from 2343 to 2345
Occurrences of AT at index from 2347 to 2349
Occurrences of AT at index from 2361 to 2363
Occurrences of AT at index from 2364 to 2366
Occurrences of AT at index from 2378 to 2380
Occurrences of AT at index from 2381 to 2383
Occurrences of AT at index from 2387 to 2389
Occurrences of AT at index from 2404 to 2406
Occurrences of AT at index from 2411 to 2413
Occurrences of AT at index from 2415 to 2417
Occurrences of AT at index from 2423 to 2425
Occurrences of AT at index from 2434 to 2436
Occurrences of AT at index from 2437 to 2439
Occurrences of AT at index from 2450 to 2452
Occurrences of AT at index from 2453 to 2455
Occurrences of AT at index from 2456 to 2458
Occurrences of AT at index from 2464 to 2466
Occurrences of AT at index from 2471 to 2473
Occurrences of AT at index from 2498 to 2500
Occurrences of AT at index from 2503 to 2505
Occurrences of AT at index from 2511 to 2513
Occurrences of AT at index from 2514 to 2516
Occurrences of AT at index from 2519 to 2521
Occurrences of AT at index from 2525 to 2527
Occurrences of AT at index from 2527 to 2529
Occurrences of AT at index from 2537 to 2539
Occurrences of AT at index from 2539 to 2541
Occurrences of AT at index from 2541 to 2543
Occurrences of AT at index from 2546 to 2548
Occurrences of AT at index from 2550 to 2552
Occurrences of AT at index from 2564 to 2566
Occurrences of AT at index from 2575 to 2577
Occurrences of AT at index from 2587 to 2589
Occurrences of AT at index from 2596 to 2598